@model IEnumerable<AspNetCore5MVC_test_app.Models.Item>

    <div class="container">

        <div class="row pt-4">
            <div class="col-6">
                <h2 class="text-primary">Items List</h2>
            </div>
            <div class="col-6">
                Create new Item
            </div>

        </div>


    </div>