@model AspNetCore5MVC_test_app.Models.Expence

<form method="post" asp-action="DeleteExpencePost">
    <input asp-for="Id" hidden/>
    <div class="border p-3">
        <div class="form-group row">
            <h2 class="text-black-50 pl-3">Delete Expence</h2>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-group row">
                    <div class="col-8">
                        <label class="text-uppercase" asp-for="Item"></label>
                    </div>
                    <div class="col-4">
                        <label class="text-uppercase" asp-for="Sum"></label>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-8">
                        <input asp-for="Item" class="form-control" disabled />
                    </div>
                    <div class="col-4">
                        <input asp-for="Sum" class="form-control" disabled />
                    </div>
                </div>
                <div class="form-group row pt-3">
                    <div class="col-6">
                        <a class="btn btn-secondary d-block w-100 text-white" asp-action="Index">Back</a>
                    </div>
                    <div class="col-6">
                        <input type="submit" class="btn btn-danger d-block w-100 text-white" value="Delete" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>



